button {
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.button-black {
    color: white;
    background-color: var(--dark-gray);
    border: none;
}
.button-black:hover {
    transform: scale(1.02);
}

.button-frame {
    background-color: transparent;
    border: 1px solid var(--dark-gray);
    transition: border-color 0.25s;
}
.button-frame:hover {
    transition: 0.25s;
    color: white;
    background-color: var(--dark-gray);
}