:root {
  --background-color: #e9e9e9;
  --light-gray: #DDDDDD;
  --dark-gray: #222222;
  --dark-gray-text: #333;
  --gray: #ccc;

  background-color: var(--background-color);
  font-family: Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.section-title-text {
  font-size: 6em;
  font-weight: 800;
}

.title-text {
  font-size: 2em;
  font-weight: 600;
}